section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--verde-escuro);
    width: 60%;
    margin-top: 6vw;
    padding: 2vw;
}

section p {
    font-family: avarezo;
    color: var(--branco);
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 4vw;
    letter-spacing: 0.1vw;
}

section:last-of-type {
    margin-bottom: 8vw;
}

#primeiro-pedido{
    font-family: unageo;
    font-size: 2vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

table {
    font-family: unageo;
    background-color: var(--branco);
    color: var(--verde-escuro);
    border-collapse: collapse;
    border-color: var(--verde-escuro);
    display: none;
}

td,
th {
    border: 2px solid;
    border-color: var(--verde-escuro);
    font-size: 1.5vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    padding-right: 0.3vw;
    padding-left: 0.3vw;
}

form label {
    font-family: avarezo;
    color: var(--branco);
    font-size: 2vw;
}

form div {
    margin-top: 1.5vw;
}

form div:first-of-type {
    margin-top: 0;
}

#salvar,
#adicionar-endereco,
#adicionar-cartao {
    align-self: center;
    width: auto;
    margin-top: 4vw;
}

#dados-textboxes {
    text-align: right;
    width: 75%;
    align-self: center;
}

#txtNome,
#txtSenha,
#txtTelefone {
    width: 50%;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    font-family: unageo;
    font-size: 1.5vw;
    padding-left: 0.4vw;
    background-color: var(--branco);

}


/* se cliente tiver 0 endereços:

#enderecos{
    display: none;
}

#adicione-endereco{
    margin-top: 0;
}*/

/* se cliente tiver 0 cartoes:

#cartoes{
    display: none;
}

#adicione-endereco{
    margin-top: 0;
}*/

#linha-endereco,
#linha-cartao {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-top: 0.2vw;
}

#linha-endereco a,
#linha-cartao a {
    width: 6%;
    margin-left: 2%;
}

#linha-endereco img,
#linha-cartao img {
    width: 100%;
}

#logradouro,
#detalhes-cartao {
    font-family: unageo;
    font-size: 1.5vw;
    background-color: var(--branco);
    color: var(--verde-escuro);
    padding: 1vw;
    width: 90%;
}

#adicione-endereco,
#adicione-cartao {
    font-family: avarezo;
    color: var(--branco);
    font-size: 2vw;
    letter-spacing: 0.1vw;
    margin-top: 4vw;
}

#endereco-textboxes,
#cartao-textboxes {
    text-align: center;
    width: 100%;
    align-self: center;
}

#endereco-textboxes label,
#cartao-textboxes label {
    margin-left: 1vw;
}

#txtRua {
    width: 70%;
}

#txtN {
    width: 9%;
}

#txtBairro {
    width: 30%;
}

#txtCidade {
    width: 25%;
}

#txtUF {
    width: 7%;
}

.lblModalidade {
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
}

#txtTitular {
    width: 50%;
}

#txtBandeira {
    width: 25%;
}

#txtNCartao {
    width: 24%;
}

#txtCVV {
    width: 5%;
}

#txtValidade {
    width: 7%;
}