#voltar {
    margin-left: 3vw;
    margin-top: 3vw;
    background-color: var(--verde-escuro);
    color: var(--branco);
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--verde-escuro);
    width: 45%;
    margin-top: 6vw;
    padding: 2vw;
}

form p {
    font-family: avarezo;
    color: var(--branco);
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 0.6vw;
    letter-spacing: 0.1vw;
}

form label {
    font-family: avarezo;
    color: var(--branco);
    font-size: 2vw;
}

form div {
    margin-top: 1.5vw;
}

form div:first-of-type {
    margin-top: 0;
}

form a {
    font-family: avarezo;
    color: var(--branco);
    font-size: 1vw;
    letter-spacing: 0.1vw;
    margin-top: 0.5vw;
}

#entrar,
#limpar {
    align-self: center;
    width: auto;
    margin-top: 4vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

#textboxes {
    margin-top: 4vw;
    text-align: right;
    width: 70%;
    align-self: center;
}

#txtEmail,
#txtSenha,
#txtNome,
#txtTelefone {
    font-family: unageo;
    width: 70%;
    font-size: 1.5vw;
    padding-left: 0.4vw;
    background-color: var(--branco);
}