#voltar {
    margin-left: 3vw;
    margin-top: 3vw;
    margin-right: auto;
    background-color: var(--verde-escuro);
    color: var(--branco);
    display: block;
    width: fit-content;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--verde-escuro);
    width: 45%;
    margin-top: 6vw;
    padding: 2vw;
}

form p {
    font-family: avarezo;
    color: var(--branco);
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 0.6vw;
    letter-spacing: 0.1vw;
}

form label {
    font-family: avarezo;
    color: var(--branco);
    font-size: 2vw;
}

form div {
    margin-top: 1.5vw;
}

form div:first-of-type {
    margin-top: 0;
}

form a {
    font-family: avarezo;
    color: var(--branco);
    font-size: 1vw;
    letter-spacing: 0.1vw;
    margin-top: 0.5vw;
}

#salvar {
    align-self: center;
    width: auto;
    margin-top: 4vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

#textboxes {
    margin-top: 4vw;
    text-align: right;
    width: 70%;
    align-self: center;
    text-align: center;
    width: 90%;
    align-self: center;
}

#txtNome{
    width: 60%;
    margin-right: 1vw;
}

#txtPreco{
    width: 10%;
    margin-right: 3vw;
}

#txtDescricao-div{
    margin: 0;
}

#txtDescricao{
    resize: none;
    width: 100%;
    height: 7vh;
}

#txtValorCalorico{
    width: 10%;
}

#txtPeso{
    width: 8%;
    margin-right: 3vw;
}

#txtPessoas{
    width: 3%;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    font-family: unageo;
    font-size: 1.5vw;
    padding-left: 0.4vw;
    background-color: var(--branco);
}